on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "0 3 * * 6"  # Font repositories may receive updates or disappear, so we check weekly

jobs:
  test:
    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v6"

      - run: "pipx install poetry"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.14"

      - run: "poetry install --all-groups"
      - run: "poetry run pytest"